# host3 etc hosts j2 template
# -- BEGIN PVE custom ansible hosts file --
::1 localhost.localnet localhost
{{ct3ip}} {{ct3fqdn}} {{ct3hn}}
# -- END PVE custom ansible hosts file --

# ct 2
# ip fqdn and hostname
{{ct2ip}} {{ct2fqdn}} {{ct2hn}}
