# host2 etc hosts j2 template
# -- BEGIN PVE custom ansible hosts file --
::1 localhost.localnet localhost
{{ct2ip}} {{ct2fqdn}} {{ct2hn}}
# -- END PVE custom ansible hosts file --

# ct 1 
# ip fqdn and hostname
{{ct1ip}} {{ct1fqdn}} {{ct1hn}}
