# host1 etc hosts j2 template
# -- BEGIN PVE custom ansible hosts file --
::1 localhost.localnet localhost
{{ct1ip}} {{ct1fqdn}} {{ct1hn}}
# -- END PVE custom ansible hosts file --

# ct 1
# ip fqdn and hostname
{{ct1ip}} {{ct1fqdn}} {{ct1hn}}

# ct 2
# ip fqdn and hostname
{{ct2ip}} {{ct2fqdn}} {{ct2hn}}

# ct 3
# ip fqdn and hostname
{{ct3ip}} {{ct3fqdn}} {{ct3hn}}
