# Ansible-j2 templated this atq-prj inventory file.
# gen-hosts inventory file for this project.

prox.adj.home
Ansible.adj.home
{{ct1fqdn}}
{{ct2fqdn}}
{{ct3fqdn}}

[prox]
prox.adj.home
[ansible]
Ansible.adj.home

[project-init:children]
prox
ansible

[project-task2]
{{ct1fqdn}}
{{ct2fqdn}}
{{ct3fqdn}}

# ip fqdn and hostname
# ct 1
[{{ct1hn}}]
{{ct1fqdn}}
[{{ct1hn}}:vars]
ct1ip={{ct1ip}} 
ct1hn={{ct1hn}}
ct1fqdn={{ct1fqdn}}

# ct 2
[{{ct2hn}}]
{{ct2fqdn}}
[{{ct2hn}}:vars]
ct2ip={{ct2ip}} 
ct2hn={{ct2hn}}
ct2fqdn={{ct2fqdn}}

# ct 3
[{{ct3hn}}]
{{ct3fqdn}}
[{{ct3hn}}:vars]
ct3ip={{ct3ip}} 
ct3ip={{ct3hn}}
ct3fqdn={{ct3fqdn}}
