# host1 etc hosts j2 template
# -- BEGIN PVE custom ansible hosts file --
::1 localhost.localnet localhost
{{ct1-ip}} {{ct1-fqdn}} {{ct1hn}}
# -- END PVE custom ansible hosts file --

# ct 1
# ip fqdn and hostname
{{ct1-ip}} {{ct1-fqdn}} {{ct1hn}}

# ct 2
# ip fqdn and hostname
{{ct2-ip}} {{ct2-fqdn}} {{ct2hn}}

# ct 3
# ip fqdn and hostname
{{ct3-ip}} {{ct3-fqdn}} {{ct3hn}}
