# host3 etc hosts j2 template
# -- BEGIN PVE custom ansible hosts file --
::1 localhost.localnet localhost
{{ct3-ip}} {{ct3-fqdn}} {{ct3hn}}
# -- END PVE custom ansible hosts file --

# ct 2
# ip fqdn and hostname
{{ct2-ip}} {{ct2-fqdn}} {{ct2hn}}
